<a href="https://colab.research.google.com/github/Dhawaldwivedi/Python-Basics-2/blob/main/Functions_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello") # task 1

hello

In [2]:
for i in range(5):   # task 2
  print('hello')

hello
hello
hello
hello
hello

In [3]:
# function definition
def fun():
  print('Hello')

In [4]:
fun() # function call

Hello

In [6]:
fun()
fun()
fun()

Hello
Hello
Hello

In [7]:
for i in range(5):
  fun()

Hello
Hello
Hello
Hello
Hello

In [8]:
def fun1():
  for i in range(1,10):
    print("hello")

In [9]:
fun1()

hello
hello
hello
hello
hello
hello
hello
hello
hello

In [10]:
# types of function - default functions print() ,input() , len()
# user defined functions

In [21]:
# local and global value
b = 4
def func():
  a=2        # local value
  print(a)

In [22]:
func()

2

In [24]:
print(b)

4

In [26]:
def fun():
  print("hello")

fun()  # hello

def fun():
  print("hey")

fun()  # hey

hello
hey

In [27]:
fun()

hey

In [37]:
# parameters in a function
def fun(name,age):
  print(name,age)

In [38]:
fun("Gfg",25)

Gfg 25

In [36]:
fun("dhawal",30)

Hello dhawal your age is : 30

In [42]:
# return statement
def add(a,b,c):
  return a+b+c

In [45]:
add(34,5,3)

42

In [46]:
def opr(x,y):
  return x+y,x-y,x*y,x/y,x%y

In [47]:
opr(30,6)

(36, 24, 180, 5.0, 0)

In [51]:
# default value
def fun(name="Dhawal"):
  print(name)

In [55]:
fun()

Dhawal

In [56]:
# positional arguments
def student(name,age):
  print(f"{name} is {age} years old")

In [58]:
student(30,"gfg")

30 is gfg years old

In [59]:
student(age=30,name="gfg")  # key word argument

gfg is 30 years old

In [61]:
# write a function to print the maximum of the 3 numbers taken from users
# a= int(input("enter first number "))
# b= int(input("enter second number "))
# c= input(int("enter third number "))
def max_num(a,b,c):
  if a>=b and a>=c:
    print(a)
  elif b>=a and b>=c:
    print(b)
  else:
    print(c)
max_num(10,2,32)

32

In [65]:
def max_num():
 a= int(input("enter first number "))
 b= int(input("enter second number "))
 c= int(input("enter third number "))
 return max(a,b,c)

In [66]:
max_num()

enter first number 10
enter second number 23
enter third number 2

23

In [69]:
# write a function to check if a number is even or odd
def even_odd():
  num = int(input("enter a number "))
  if(num%2==0):
    print("even")
  else:
    print("odd")

even_odd()

enter a number 11
odd

In [72]:
# print a multiplication table of a number
def mult():
  n = int(input("enter a number "))
  for i in range(1,11):
    print(f"{n}*{i}= {n*i}")

mult()

enter a number 19
19*1= 19
19*2= 38
19*3= 57
19*4= 76
19*5= 95
19*6= 114
19*7= 133
19*8= 152
19*9= 171
19*10= 190

In [75]:
# write a function to find area of a circle
def area_of_circle(r):
  return 3.14*r*r

round(area_of_circle(24),2)

1808.64

In [78]:
# write a function to print the length of a string
def str1(s):
  return len(s)

str1("dhawal dwivedi")

14

In [82]:
# check for a prime number
def is_prime():
  n = int(input("enter a number "))
  if n<2:
    return False

  else:
    for i in range(2,n):
      if n%i==0 :
        return False
      else:
        return True
is_prime()

enter a number 11

True

In [84]:
# convert a temperature from celsius to fahrenheit
def cel_to_fah(c):
  f = (c*9/5)+32
  return f

cel_to_fah(25)

77.0

In [87]:
# check if a given year is a leap year or not
# 2024
# 2000 - leap year ( div by 4 , div by 100)
# 1900 -
def leap_year(year):
  if (year%4==0 and year%100 !=0) or (year%400==0):
    return True
  else:
    return False
leap_year(2024)

True