<a href="https://colab.research.google.com/github/Dhawaldwivedi/Python-Basics-2/blob/main/Intro_to_python_and_conditonals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello world")

Hello world

In [ ]:
"hello world"

'hello world'

In [ ]:
print('hello world')

hello world

Comments

In [ ]:
# this is a comment (single line comment)
print("Hello world")

Hello world

In [ ]:
'''multi line comment'''
print('hello')

hello

In [ ]:
3+4

7

In [ ]:
45*23

1035

In [ ]:
# variables - containers to store data
x = 5
y= 10
z= x-y
print(z)

-5

In [ ]:
age = 29 # integer
weight = 54.543 # float
name = "Dhawal"  # string
x = True # boolean
print("age is",age)
print("weight is",weight)
print("Name is",name)

age is 29
weight is 54.543
Name is Dhawal

Data Types

In [ ]:
print(type(age))

<class 'int'>

In [ ]:
type(weight)

float

In [ ]:
type(name)

str

In [ ]:
type(x)

bool

In [ ]:
z = 15
print(z)
z= "gfg"
print(z)

15
gfg

In [ ]:
print(z)
print(z+2)

gfg

TypeError: can only concatenate str (not "int") to str

In [ ]:
z=10
type(z)

int

In [ ]:
z="gfg"
type(z)

str

In [ ]:
firstname = "Dhawal"
print(firstname)

Dhawal

In [ ]:
first_name = "Dhawal"
print(first_name)

Dhawal

In [ ]:
_age =23
_age

23

In [ ]:
age2 = 11
age2

11

In [ ]:
2age= 22
2age

SyntaxError: invalid decimal literal (ipython-input-39-1937343996.py, line 1)

In [ ]:
first-name= "dhawal"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-40-140347568.py, line 1)

In [ ]:
@firstname = "dhawal"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-41-1741964464.py, line 1)

In [ ]:
# case sensitivity
name = "Dhawal"
Name = "Dwivedi"

In [ ]:
print(name)

Dhawal

In [ ]:
print(Name)

Dwivedi

In [ ]:
print(NAME)

NameError: name 'NAME' is not defined

In [ ]:
weight = 46.7
type(weight)

float

In [ ]:
weight = int(weight)
weight

46

In [ ]:
print(type(weight))

<class 'int'>

In [ ]:
weight = float(weight)
weight

46.0

In [ ]:
type(weight)

float

In [ ]:
weight = str(weight)
type(weight)

str

In [ ]:
weight

'46.0'

In [ ]:
weight = int(weight)
weight

ValueError: invalid literal for int() with base 10: '46.0'

In [ ]:
name = "dhawal"
name = int(name)
print(name)

ValueError: invalid literal for int() with base 10: 'dhawal'

In [ ]:
var = 10
print(var,type(var))

var = "hello"
print(var,type(var))

var = 10.4
print(var,type(var))

var = True
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
10.4 <class 'float'>
True <class 'bool'>

In [ ]:
# input
age = int(input("enter your age "))
print(age)

enter your age gfg

ValueError: invalid literal for int() with base 10: 'gfg'

In [ ]:
result = 20+45
print(result)

65

In [ ]:
result = "hell0 " + "Dhawal"
print(result)

hell0 Dhawal

In [ ]:
result = "hello " + 5
print(result)

TypeError: can only concatenate str (not "int") to str

In [ ]:
result = "hello " + str(5)
result

'hello 5'

In [ ]:
result = 23.5667 + 34
print(result)

57.5667

In [ ]:
x = input(" enter x")
x+ " this value you have entered"

 enter x45

'45 this value you have entered'

In [ ]:
y = input("enter y")
print(type(y))
y + " this value you have entered"

enter y10
<class 'str'>

'10 this value you have entered'

In [ ]:
x = input(" enter x")
print(type(x))

 enter x10
<class 'str'>

Operators

In [1]:
# arithmetic operations
23 + 21

44

In [28]:
a=10
b=5

add= a+b
sub =a-b
prod = a*b
div = a/b
mod = a%b
floor_div = a//b
exp = a**b

In [29]:
print(add)
print(sub)
print(prod)
print(div)
print(mod)
print(floor_div)
print(exp)

15
5
50
2.0
0
2
100000

In [4]:
# floor and ceil
# 10.6 = floor 10 , ceil - 11
floor_div = a//b
floor_div

2

In [5]:
mod = a%b
print(mod)

0

In [7]:
exp = a**b    # 10^5
print(exp)

100000

In [8]:
import math

NameError: name 'ceil' is not defined

In [11]:
print(math.ceil(10/3))  # 3.3333

4

In [12]:
# compraison operators ( == )
a= 10
b=12
a == b

False

In [14]:
a=10
b=a
print(b)

10

In [15]:
str1 = "Dhawal"
str2 = "dhawal"
str1==str2

False

In [25]:
#greater than and less than
num1 = 55
num2 = 55
num1>num2

False

In [26]:
num1<=num2

True

In [27]:
num1>=num2

True

In [31]:
# Logical operators
# and - returns true if both the values are true
x = True
y = False
res = x and y
print(res)

False

In [33]:
# or opr
x = False
y = True
res = x or y
print(res)

True

In [34]:
# not opr
X = False
not X

True

In [35]:
Y = True
not Y

False

In [36]:
# create a simple calculator with 2 values
# take user input
# add, sub , mult , div , mod , foor_div , exp
a = float(input("enter the first number "))
b =  float(input("enter the second number "))
add = a+b
sub = a-b
mult = a*b
div = a/b
mod = a%b
floor_div = a//b
exp= a**b
print("addition is ",add)
print("difference is ",sub)
print("product is ",mult)
print(" division is ",div)
print(" modulus is" ,mod)
print(" floor div is ",floor_div)
print(" exponential is ",exp)

enter the first number 13.445
enter the second number 1.45
addition is  14.895
difference is  11.995000000000001
product is  19.49525
 division is  9.272413793103448
 modulus is 0.3950000000000007
 floor div is  9.0
 exponential is  43.29255023019693

CONDITIONALS IN PYTHON

In [37]:
# if , else , elif
age = 20
if age>18:
  print("elg to vote")

elg to vote

In [42]:
# else
age= 13
if age>18:
  print("elg to vote")
else:
  print(" not elg to vote")

 not elg to vote

In [44]:
## check a number is even or not
num = int(input("enter the number "))
if num%2==0:
  print("even number ")
else:
  print("odd number ")

enter the number 13
odd number

In [47]:
# elif
age = 29
if age<13:
  print("child ")
elif age<18:
  print("Teenager")
else:
  print("adult")

adult

In [52]:
# nested conditionals
num = 0
if num>0:
  print("positive")
  if num%2==0:
    print("even")
  else:
    print("odd")
elif num==0:
  print("Zero")
else:
  print("negative")

Zero

In [1]:
# simple calculator
# num 1, num 2 , operator + , - , * . /
num1 = float(input("enter the num1 "))
num2 = float(input("enter the num2 "))
opr = input("enter the operation ")
result = 0
if opr == "+":
  result = num1 + num2
elif opr == "-":
  result = num1- num2
elif opr== "*":
  result = num1*num2
elif opr == "/":
  if num2 != 0:
    result = num1/num2
  else:
    result = "error"
else:
  result = "invalid opr"
print(result)

enter the num1 12
enter the num2 0
enter the operation /
error

Check for username and password

In [6]:
# check whether entered username and password matches or not
stored_username = "admin"
stored_password = "admin@123"
username = input("enter the username")
if username ==stored_username:
  password = input("enter the password")
  if password == stored_password:
    print("login success")
  else:
    print("incorrect password")

else:
  print("username not found")

enter the usernameaaaa
username not found

Grade generation

In [8]:
# get the students grades as per their marks
marks = int(input("enter the marks "))
if 90<= marks<=100:
  grade = "A"
elif 80<= marks <90:
  grade = "B"
elif 60<= marks <80:
  grade = "C"
elif 34 <= marks <60:
  grade = "D"
else:
  grade = "E"

print("Your grade is ",grade)

enter the marks 23
Your grade is  E

Ticket price Generation based on age

Calculate Employee bonus based on years of service