<a href="https://colab.research.google.com/github/Dhawaldwivedi/Python-Basics-2/blob/main/Intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello world")

Hello world

In [2]:
"hello world"

'hello world'

In [9]:
print('hello world')

hello world

Comments

In [4]:
# this is a comment (single line comment)
print("Hello world")

Hello world

In [7]:
'''multi line comment'''
print('hello')

hello

In [11]:
3+4

7

In [12]:
45*23

1035

In [13]:
# variables - containers to store data
x = 5
y= 10
z= x-y
print(z)

-5

In [18]:
age = 29 # integer
weight = 54.543 # float
name = "Dhawal"  # string
x = True # boolean
print("age is",age)
print("weight is",weight)
print("Name is",name)

age is 29
weight is 54.543
Name is Dhawal

Data Types

In [20]:
print(type(age))

<class 'int'>

In [21]:
type(weight)

float

In [22]:
type(name)

str

In [23]:
type(x)

bool

In [26]:
z = 15
print(z)
z= "gfg"
print(z)

15
gfg

In [30]:
print(z)
print(z+2)

gfg

TypeError: can only concatenate str (not "int") to str

In [31]:
z=10
type(z)

int

In [32]:
z="gfg"
type(z)

str

In [33]:
firstname = "Dhawal"
print(firstname)

Dhawal

In [34]:
first_name = "Dhawal"
print(first_name)

Dhawal

In [37]:
_age =23
_age

23

In [38]:
age2 = 11
age2

11

In [39]:
2age= 22
2age

SyntaxError: invalid decimal literal (ipython-input-39-1937343996.py, line 1)

In [40]:
first-name= "dhawal"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (ipython-input-40-140347568.py, line 1)

In [41]:
@firstname = "dhawal"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-41-1741964464.py, line 1)

In [42]:
# case sensitivity
name = "Dhawal"
Name = "Dwivedi"

In [43]:
print(name)

Dhawal

In [44]:
print(Name)

Dwivedi

In [45]:
print(NAME)

NameError: name 'NAME' is not defined

In [46]:
weight = 46.7
type(weight)

float

In [47]:
weight = int(weight)
weight

46

In [48]:
print(type(weight))

<class 'int'>

In [49]:
weight = float(weight)
weight

46.0

In [50]:
type(weight)

float

In [51]:
weight = str(weight)
type(weight)

str

In [52]:
weight

'46.0'

In [53]:
weight = int(weight)
weight

ValueError: invalid literal for int() with base 10: '46.0'

In [54]:
name = "dhawal"
name = int(name)
print(name)

ValueError: invalid literal for int() with base 10: 'dhawal'

In [56]:
var = 10
print(var,type(var))

var = "hello"
print(var,type(var))

var = 10.4
print(var,type(var))

var = True
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
10.4 <class 'float'>
True <class 'bool'>

In [59]:
# input
age = int(input("enter your age "))
print(age)

enter your age gfg

ValueError: invalid literal for int() with base 10: 'gfg'

In [60]:
result = 20+45
print(result)

65

In [62]:
result = "hell0 " + "Dhawal"
print(result)

hell0 Dhawal

In [65]:
result = "hello " + 5
print(result)

TypeError: can only concatenate str (not "int") to str

In [67]:
result = "hello " + str(5)
result

'hello 5'

In [64]:
result = 23.5667 + 34
print(result)

57.5667

In [70]:
x = input(" enter x")
x+ " this value you have entered"

 enter x45

'45 this value you have entered'

In [71]:
y = input("enter y")
print(type(y))
y + " this value you have entered"

enter y10
<class 'str'>

'10 this value you have entered'

In [73]:
x = input(" enter x")
print(type(x))

 enter x10
<class 'str'>