<a href="https://colab.research.google.com/github/Dhawaldwivedi/Python-Basics-2/blob/main/Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello")

Hello

In [3]:
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")
print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello

In [6]:
#for loop
# while loop
# range

In [7]:
# range
range(4)

range(0, 4)

In [8]:
for i in range(5):
  print(i)

0
1
2
3
4

In [12]:
# start to (end-1)
for i in range(5,20):
  print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [17]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [18]:
for i in range(10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [19]:
for i in range(10,1,-2):
  print(i)

10
8
6
4
2

In [20]:
# print table of 13
for i in range(1,11):
  print(i*13)

13
26
39
52
65
78
91
104
117
130

In [21]:
for i in range(13,131,13):
  print(i)

13
26
39
52
65
78
91
104
117
130

In [22]:
# strings in loops
str = "Dhawal Dwivedi"
for i in str:
  print(i)

D
h
a
w
a
l

D
w
i
v
e
d
i

In [23]:
# while loop - it executes till the condition is true
count = 0
while count<5:
  print(count)
  count = count+1

0
1
2
3
4

In [24]:
for i in range(5):
  print(i)

0
1
2
3
4

In [26]:
# break
for i in range(10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [27]:
# continue
for i in range(10):
  if i==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [29]:
for i in range(10):
  if i%2!=0:
    continue
  print(i)

0
2
4
6
8

In [33]:

# find sum of first n natural numbers using for and while loops 5 ( 1+2+3+4+5) 15
# for loop

n = int(input("enter the number "))
sum = 0
for i in range(n+1):
  sum= sum+i

print(sum)

enter the number 10
55

In [34]:
# while
n = 10
sum=0
counter = 1
while counter<=n:
  sum=sum+counter
  counter=counter+1

print(sum)

55

In [35]:
# count vowels in a string
str = "Data science and machine learning program"
vowels = "aeiouAEIOU"
count= 0
for i in str:
  if i in vowels:
    count = count+1

print(count)

14

In [45]:
# find all prime numbers between 1 to 100
for num in range(1,101):
  if num>1:
    for i in range(2,num):
      if num%i==0:     # 8%2==0
        break
    else:
      print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [38]:
# nested loop - loop inside a loop
# for each iteration of i , j is executing completely
for i in range(3):
  for j in range(2):
    print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [ ]:
# pattern printing
""" *****
    *****
    *****
    *****
    *****    """

In [48]:
# outer loop - controls number of rows
# inner loop - controls number of * printed in each row
r = 5
for i in range(r):
  for j in range(r):
    print("*",end= "")
  print()

*****
*****
*****
*****
*****

In [49]:
""" *
    **
    ***
    ****
    *****   """

' *\n    **\n    ***\n    ****\n    *****   '

In [51]:
# triangle pattern
rows = 5
for i in range(rows): # 0 , 1
  for j in range(i+1):
    print("*",end="")
  print()

*
**
***
****
*****

In [ ]:
""" *****
    ****
    ***
    **
    *  """"

In [ ]:
# check for palindrome
# print factorial of a number using loops 5 = 5*4*3*2*1 = 120
# print sum of digits of a number using loops  34 = 7 , 234 = 9