<a href="https://colab.research.google.com/github/Dhawaldwivedi/Python-Basics-2/blob/main/Python_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#python data structures
# List  - students= [stu1, stu2, stu3]
#         students_roll_no = [1,2,3]
#         student_address = ["Noida","Delhi","Mumbai"]

In [ ]:
# dictionary - key - value pair
# 1:stu1 ,2:stu2

In [1]:
empty_dict = {}
print(type(empty_dict))

<class 'dict'>

In [2]:
empty_dict = dict()
print(type(empty_dict))

<class 'dict'>

In [3]:
student = {"name":"Dhawal","age":24,"grade":"A"}
print(student)

{'name': 'Dhawal', 'age': 24, 'grade': 'A'}

In [4]:
students = {"Dhawal":"name",24:"age","A":"grade"}
print(students)

{'Dhawal': 'name', 24: 'age', 'A': 'grade'}

In [5]:
student = {"name":"Dhawal","age":24,"grade":"A","name":"gfg"}
student

{'name': 'gfg', 'age': 24, 'grade': 'A'}

In [8]:
student["name"]

'gfg'

In [7]:
student['age']

24

In [10]:
student["A"]

KeyError: 'A'

In [11]:
# get method
student.get("name")

'gfg'

In [12]:
student.get('grade')

'A'

In [13]:
student.get("lastname")

In [14]:
student.get("lastname","Not Available")  # default value

'Not Available'

In [15]:
student

{'name': 'gfg', 'age': 24, 'grade': 'A'}

In [16]:
# alter values
student['name']= "Dhawal"
student["age"]= 26

In [18]:
student["address"]= "Noida"
student

{'name': 'Dhawal', 'age': 26, 'grade': 'A', 'address': 'Noida'}

In [20]:
del student["grade"]

KeyError: 'grade'

In [21]:
student

{'name': 'Dhawal', 'age': 26, 'address': 'Noida'}

In [22]:
student.keys()

dict_keys(['name', 'age', 'address'])

In [24]:
student.values()

dict_values(['Dhawal', 26, 'Noida'])

In [25]:
student.items()

dict_items([('name', 'Dhawal'), ('age', 26), ('address', 'Noida')])

In [27]:
# concept of shallow copy
student_copy = student
student_copy

{'name': 'Dhawal', 'age': 26, 'address': 'Noida'}

In [28]:
student["name"]= "Dhawal2.0"

In [30]:
print(student)
print(student_copy)

{'name': 'Dhawal2.0', 'age': 26, 'address': 'Noida'}
{'name': 'Dhawal2.0', 'age': 26, 'address': 'Noida'}

In [31]:
student_copy1 = student.copy()
student_copy1

{'name': 'Dhawal2.0', 'age': 26, 'address': 'Noida'}

In [32]:
student["name"]= "Dhawal3.0"

In [33]:
print(student)

{'name': 'Dhawal3.0', 'age': 26, 'address': 'Noida'}

In [34]:
print(student_copy1)

{'name': 'Dhawal2.0', 'age': 26, 'address': 'Noida'}

In [35]:
print(student_copy)

{'name': 'Dhawal3.0', 'age': 26, 'address': 'Noida'}

In [36]:
# iteration
for i in student.keys():
  print(i)

name
age
address

In [37]:
for j in student.values():
  print(j)

Dhawal3.0
26
Noida

In [41]:
for i,j in student.items():
  print(f"{i}:{j}")

name:Dhawal3.0
age:26
address:Noida

In [43]:
# nested dictionaries
student = {"student1":{"name":"Dhawal","age":24},
           "student2":{"name":"Harsh","age":25}}

In [44]:
student

{'student1': {'name': 'Dhawal', 'age': 24},
 'student2': {'name': 'Harsh', 'age': 25}}

In [45]:
print(student["student1"]["name"])

Dhawal

In [46]:
student["student2"]["age"]

25

In [47]:
# iterate in nested dictionary
for student_id , student_info in student.items():  # outer dict
  print(f"{student_id}:{student_info}")
  for key,value in student_info.items():          # inner dict
    print(f"{key}:{value}")

student1:{'name': 'Dhawal', 'age': 24}
name:Dhawal
age:24
student2:{'name': 'Harsh', 'age': 25}
name:Harsh
age:25

In [49]:
# dictionary comprehension
squares = {x:x**2 for x in range(5)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [50]:
even = {x:x**2 for x in range(10) if x%2==0}
even

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [51]:
# count of elements using a dictionary
numbers = [1,1,1,2,2,2,2,2,3,3,4,4,4,4,4,4,4,5]
count={}

for i in numbers:
  if i in count:
    count[i]= count[i]+1
  else:
    count[i]=1                  # count = {1:3,2:}
print(count)

{1: 3, 2: 5, 3: 2, 4: 7, 5: 1}

Question :
You are given a list of integers representing the IDs of students who have signed up for an event, but some students have signed up multiple times by mistake. Your task is to:

Remove duplicates to get the unique IDs of students who signed up. Identify students who have both signed up and attended the event (IDs are given in a separate list of attendees). Classify each student as: "Attended" if they signed up and attended. "No-show" if they signed up but did not attend. Finally, print a summary showing the count of "Attended" and "No-show" students. Input:

A list of integers signups, where each element represents a student ID who signed up for the event. (It may contain duplicates.) A list of integers attendees, where each element represents a student ID who attended the event. Output: Print each unique student ID along with its status ("Attended" or "No-show") and a summary like the example below.

In [ ]:
signups = [101,102,103,104,102,105,103,106,107]
attendees = [101,102,103,103,105,106]

In [ ]:
""" 101 : attended
102 : attended
103 : attended
104 : no show

Summary
no of attendees =
no shows = """

In [54]:
signups = [101,102,103,104,102,105,103,106,107]
attendees = [101,102,103,103,105,106]

unique_signups = set(signups)
unique_attendees = set(attendees)

attendees_count =0
no_show_count =0

for i in unique_signups:
  if i in unique_attendees:
    print(f"{i}:Attended")
    attendees_count+=1
  else:
    print(f"{i}:No show")
    no_show_count+=1

print("\nsummary")
print(f"attended: {attendees_count}")
print(f"no show: {no_show_count}")

101:Attended
102:Attended
103:Attended
104:No show
105:Attended
106:Attended
107:No show

summary
attended: 5
no show: 2

Unique Common Elements
Problem: You are given two lists of integers. Write a program to:

Find the unique common elements between the two lists. Print these common elements in sorted order. If there are no common elements, print "No common elements".

In [57]:
list1 = [1,2,3,4,5,6,7,8]
list2 =[0,10,12]

un_list1 = set(list1)
un_list2 = set(list2)

common_elements = un_list1.intersection(un_list2)

if common_elements:
  print(sorted(common_elements))
else:
  print("no common elements")

no common elements

In [59]:
text = "hello world"
# find character count and return a dictionary

In [60]:
char_count = {}
for i in text:
  if i!=" ":
    if i in char_count:
      char_count[i]+=1
    else:
      char_count[i]=1
print(char_count)

{'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}